<section class="s2">
    <div class="d1">
        <p class="p1">
        <%= section_title %>
        </p>
        <p class="p2"><%=todos.completed?.count%> / <%=todos.count%></p>
    </div>
    <ul>
    <% todos.all.each do |todo| %>
        <li class="l1">
            <label class="ll1">
                <%=form_with(url:"/todos/#{todo.id}",method:"put") do %>
                <input class="c1" 
                type="checkbox"
                name="completed"
                <%= todo.completed ? "checked" : ""%>
                onclick="this.form.submit()"
                >
                <%end%>
                <p class='<%= todo.completed ? "todo" : ""%>'>
                <%= todo.todo_text %>
                </p>
               
                <% if show_due_date %>
                    <p class="Todoitem"> <%= todo.due_date.to_s(:short)%> </p>
                <%end%>
                <%= form_with(url:"todos/#{todo.id}", method:"delete") do %> 
                <input type="image" src="trash.png" class="delete">
                <%end%>
            </label>
            </li>
    <%end%>
        
       
    </ul>
   
</section>