<!DOCTYPE html>
<html>
  <head>
    <title>My TodoManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'todo-app', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if @current_user%>
    <p class="userheader">
    Welcome <%=@current_user.first_name%>!
    <%= link_to "Signout",destroy_sessions_path,method:"delete"%>
    </p>
    <%end%>
    <%= yield %>
 
  </body>
  <% if flash[:error] %>
  <p class="flash">
  <%= flash[:error] %>
  </p>
  <%end%>
</html>
